/FYP_pyenv/
/Research_Files/December/2D_fluidisation_simulation_files
/Research_Files/December/fluidising_bed_simulation_files
/Research_Files/January/old_design_sim_files
/Research_Files/January/.old_design_sim_but_3d_files.backup
/Research_Files/January/old_design_sim_but_3d_files
/Research_Files/February/plunger_sim_files
/Research_Files/February/gear_plunger_sim_files
/Research_Files/February/.gear_plunger_sim_files.backup
/Research_Files/November/PyFR-Test-Cases
/Research_Files/March/prototype_sim_files
/latex/bin/*

!latex/bin/main.tex
/Research_Files/April/fsi_stuff/fsi_files
/Research_Files/May/fsi_for_real_this_time/*
!Research_Files/May/fsi_for_real_this_time/fsi_2d_simplified_no_pwder.wbpj
/Research_Files/May/piston/piston_files
/Research_Files/May/old_design_hypothesis/*
!Research_Files/May/old_design_hypothesis/a.wbpj
/Research_Files/May/static_pressure/tank_files
!Research_Files/May/old_design_hypothesis/a.wbpj
*.bat
/Research_Files/June/mesh_troubleshooting
/Research_Files/June/moving_wall_flow